*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #333;
}

.card{
  margin-top: 5rem;
}

.card-body h1{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin-inline: auto;
  margin-top: 1rem;
  color: white;
}

.button-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.button-row button{
  padding: 12px 34px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.button-row button:first-child{
  background: rgb(59, 185, 59);
  border: 1px solid rgb(59, 185, 59);
}
.button-row button:first-child:hover{
  background: rgb(76, 209, 76);
}


.button-row button:nth-child(2){
  background: rgb(204, 21, 21);
  border: 1px solid rgb(204, 21, 21);
}
.button-row button:nth-child(2):hover{
  background: rgb(223, 35, 35);
}
.button-row button:nth-child(2):disabled{
  background: transparent;
  border: 1px solid #cccccc;
  color: #cccccc;
}

.button-row button:last-child{
  background: #777;
  border: 1px solid #777;
}
.button-row button:last-child:hover{
  background: #9b9b9b;
}
.button-row button:last-child:disabled{
  background: transparent;
  border: 1px solid #cccccc;
  color: #cccccc;
}